body{
  background-color: #e9ecef;
  font-family: serif;
}

.jumbotron{
  padding-top: 15%;
}

.container {
  text-align: center;
}

input{
  line-height: .5em;
  text-align: center;
}

#userInput{
  padding-top: 1em;
}

#output{
  padding-top: 1em;
  display: none;
}