body{
  background-image: url('../assets/images/dollar.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #e9ecef;
  font-family: serif;
}

.jumbotron{
  background:transparent;
  padding-top: 15%;
}

.container {
  text-align: center;
}

.display-4 {
  text-shadow: 2px 1px white;
}

input{
  line-height: .5em;
  text-align: center;
}

#userInput{
  padding-top: 1em;
}

#exchange-out {
  font-size: 1.5em;
}

#output{
  padding-top: 1em;
  display: none;
}